
  
  .calandar{
    background-color: rgba(0, 0, 0, 0);  
    margin: 48px auto; 
    max-block-size: 2050px;
    text-align: center; 
    padding: 30px 0; 
    padding-bottom: 80px;
    border-radius: 35px;  
    color: white; 
    width: 98%; 
    
  }
  
  .calandar>*{ 
    /* border:  1.7px solid #d85bda4f !important;  */
    border: 1.7px solid #94dafb4f !important;
    border-radius: 35px; 
    overflow: hidden !important;
    padding: 26px;  
    /* margin: auto; */
    
       
  } 
  
  .calandar>*:hover{ 
    border: 1.7px solid #94dafb4f !important; 
    overflow: hidden !important;
    box-shadow: 0 1px 15px 7px  #94dafb !important;
    transform: scale(1.1) !important;
    border-radius: 35px; 
    padding: 26px;  
    /* margin: auto; */
  } 
  
  
  @media screen and (min-width: 100px) and (max-width: 920px){ 

    .calandar{
      width: 95% !important; 
      font-size: x-small !important;
      /* padding-left: 60px !important;  */
      /* padding-right: 60px !important;  */

      /* text-align: justify !important; */


    }
    
  }
  
  
  